.test {
    color: rgb(49, 107, 4);
    background-color: #90d2f7;
    font-size: 30px;
   }
   
   h1 {
       color: red;
   }
   
   .imagen_item {
       height: 50px;
       width: 50px;
   }

   .body{
    font-size: 30px;

   }

   .colorUva{
    color:blueviolet;
    font-size:16px
   }